@model Nalaz
@{
	ViewData["Title"] = "Nalaz";
	Layout = null;
}

<form>
	<div class="border p-3 mt-4">
		<div asp-validation-summary="All">
		</div>
		<input type="hidden" asp-for="DatumIVrijemeKreiranja" />
		<input type="hidden" asp-for="PrijemId" />
		<input type="hidden" asp-for="Prijem"/>
		<div class="mb-3">
			<label asp-for="TekstualniOpis">Tekstualni opis</label>
			<input asp-for="TekstualniOpis" class="form-control" disabled/>
			<span asp-validation-for="TekstualniOpis" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="DatumIVrijemeKreiranja">Datum dodavanja</label>
			<input asp-for="DatumIVrijemeKreiranja" class="form-control" disabled />
			<span asp-validation-for="DatumIVrijemeKreiranja" class="text-danger"></span>
		</div>
	</div>
</form>
